In [1]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [2]:
# !wget http://deepyeti.ucsd.edu/jianmo/amazon/sample/meta_Computers.json.gz

--2022-06-05 01:13:40--  http://deepyeti.ucsd.edu/jianmo/amazon/sample/meta_Computers.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7010521 (6.7M) [application/octet-stream]
Saving to: ‘meta_Computers.json.gz.1’

meta_Computers.json  12%[=>                  ] 865.14K   163KB/s    eta 37s    ^C

In [2]:
### load the meta data

data = []
with gzip.open('meta_AMAZON_FASHION.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

186637
{'title': 'Slime Time Fall Fest [With CDROM and Collector Cards and Neutron Balls, Incredi-Ball and Glow Stick Necklace, Paper Fram', 'brand': 'Group Publishing (CO)', 'feature': ['Product Dimensions:\n                    \n8.7 x 3.6 x 11.4 inches', 'Shipping Weight:\n                    \n2.4 pounds'], 'rank': '13,052,976inClothing,Shoesamp;Jewelry(', 'date': '8.70 inches', 'asin': '0764443682', 'imageURL': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL._US40_.jpg'], 'imageURLHighRes': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL.jpg']}

In [3]:
import json
with open('meta_AMAZON_FASHION.json', 'w') as f:
    json.dump(data, f)

In [4]:
with open('meta_AMAZON_FASHION.json', 'r') as f:
  data = json.load(f)

In [5]:
# convert list into pandas dataframe

df = pd.DataFrame.from_dict(data)

print(len(df))

186637

In [6]:
### remove rows with unformatted title (i.e. some 'title' may still contain html style content)

df3 = df.fillna('')
df4 = df3[df3.title.str.contains('getTime')] # unformatted rows
df5 = df3[~df3.title.str.contains('getTime')] # filter those unformatted rows
print(len(df4))
print(len(df5))

430
186207

In [10]:
# how those unformatted rows look like
df4.iloc[0]

title              var aPageStart = (new Date()).getTime();\nvar ...
brand
feature            [Package Dimensions:\n                    \n3....
rank                              24,954,464inClothing,ShoesJewelry(
date                                                          Fossil
asin                                                      B0013HNSPS
imageURL
imageURLHighRes
description
price
also_view
also_buy
fit
details
similar_item
tech1
Name: 4248, dtype: object

## Load AMAZON FASHION meta datasets

In [2]:
### load the fashion data

data = []
with gzip.open('meta_AMAZON_FASHION.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

186637
{'title': 'Slime Time Fall Fest [With CDROM and Collector Cards and Neutron Balls, Incredi-Ball and Glow Stick Necklace, Paper Fram', 'brand': 'Group Publishing (CO)', 'feature': ['Product Dimensions:\n                    \n8.7 x 3.6 x 11.4 inches', 'Shipping Weight:\n                    \n2.4 pounds'], 'rank': '13,052,976inClothing,Shoesamp;Jewelry(', 'date': '8.70 inches', 'asin': '0764443682', 'imageURL': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL._US40_.jpg'], 'imageURLHighRes': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL.jpg']}

In [3]:
import json
with open('meta_AMAZON_FASHION.json', 'w') as f:
    json.dump(data, f)

In [4]:
with open('meta_AMAZON_FASHION.json', 'r') as f:
  data = json.load(f)

In [5]:
# convert list into pandas dataframe
df = pd.DataFrame.from_dict(data)

print(len(df))

186637

In [6]:
### remove rows with unformatted title (i.e. some 'title' may still contain html style content)
df3 = df.fillna('')
df4 = df3[df3.title.str.contains('getTime')] # unformatted rows
df5 = df3[~df3.title.str.contains('getTime')] # filter those unformatted rows
print(len(df4))
print(len(df5))

430
186207

In [7]:
# how those unformatted rows look like
df4.iloc[0]

title              var aPageStart = (new Date()).getTime();\nvar ...
brand
feature            [Package Dimensions:\n                    \n3....
rank                              24,954,464inClothing,ShoesJewelry(
date                                                          Fossil
asin                                                      B0013HNSPS
imageURL
imageURLHighRes
description
price
also_view
also_buy
fit
details
similar_item
tech1
Name: 4248, dtype: object

In [8]:
# formatted rows
df5.iloc[0]

title              Slime Time Fall Fest [With CDROM and Collector...
brand                                          Group Publishing (CO)
feature            [Product Dimensions:\n                    \n8....
rank                          13,052,976inClothing,Shoesamp;Jewelry(
date                                                     8.70 inches
asin                                                      0764443682
imageURL           [https://images-na.ssl-images-amazon.com/image...
imageURLHighRes    [https://images-na.ssl-images-amazon.com/image...
description
price
also_view
also_buy
fit
details
similar_item
tech1
Name: 0, dtype: object

In [9]:
print(len(df5[df5['also_view'] != '']))
print(len(df5[df5['also_buy'] != '']))

11517
21595

In [10]:
df6 = df5[df5['also_buy'] != '']
df6 = df6.reset_index()

In [11]:
print(len(df6))

21595

In [12]:
df6.iloc[0]

index                                                             18
title              Shimmer Anne Shine Clip On Costume/Halloween C...
brand                                             Shimmer Anne Shine
feature            [Shimmer Anne Shine Clip On Costume/Halloween ...
rank                                 468,314inClothing,ShoesJewelry(
date                                                          5 star
asin                                                      B00004T3SN
imageURL           [https://images-na.ssl-images-amazon.com/image...
imageURLHighRes    [https://images-na.ssl-images-amazon.com/image...
description        [A fun addition to any costume party, play, or...
price                                                          $6.99
also_view          [B00Q5RRK78, B00RN3JILE, B00PMUTNOM, B01KA5PTY...
also_buy                                                [B01KA5PTYG]
fit
details
similar_item
tech1
Name: 0, dtype: object

In [13]:
df6.also_buy[0]

['B01KA5PTYG']

In [14]:
print(len(df6.also_buy[0]))

1

In [15]:
dataset_social = []
for idx in range(len(df6)):
    dict = {}
    related = ''
    for j in range(len(df6.also_buy[idx])):
        related += df6.also_buy[idx][j]
        related += ', '
    related = related[:-2]
    dict = {'product': df6['asin'][idx], 'related': related}
    dataset_social.append(dict)

dataset_social[0]

{'product': 'B00004T3SN', 'related': 'B01KA5PTYG'}

In [16]:
with open('amazon_fashion_dataset_product.json', 'w') as f:
    json.dump(dataset_social, f)

In [21]:
with open('amazon_fashion_dataset_product.json', 'r') as f:
    data_product = json.load(f)

In [22]:
data_product[0]

{'product': 'B00004T3SN', 'related': 'B01KA5PTYG'}

## Load AMAZON FASHION datasets

In [17]:
### load the fashion data
data = []
with gzip.open('AMAZON_FASHION.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

883636
{'overall': 5.0, 'verified': True, 'reviewTime': '10 20, 2014', 'reviewerID': 'A1D4G1SNUZWQOT', 'asin': '7106116521', 'reviewerName': 'Tracy', 'reviewText': 'Exactly what I needed.', 'summary': 'perfect replacements!!', 'unixReviewTime': 1413763200}

In [18]:
import json
with open('AMAZON_FASHION.json', 'w') as f:
    json.dump(data, f)

In [25]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [26]:
with open('AMAZON_FASHION.json', 'r') as f:
  data = json.load(f)

In [27]:
print(type(data))
print(data[0])
print(type(data[0]))

<class 'list'>
{'overall': 5.0, 'verified': True, 'reviewTime': '10 20, 2014', 'reviewerID': 'A1D4G1SNUZWQOT', 'asin': '7106116521', 'reviewerName': 'Tracy', 'reviewText': 'Exactly what I needed.', 'summary': 'perfect replacements!!', 'unixReviewTime': 1413763200}
<class 'dict'>

In [28]:
# convert list into pandas dataframe
df = pd.DataFrame.from_dict(data)

print(len(df))

883636

In [29]:
df.iloc[500000]

overall                                                         3.0
verified                                                       True
reviewTime                                              12 18, 2014
reviewerID                                           A1LN4K6MFBNJ85
asin                                                     B00IMABQ76
reviewerName                                          Sara D. Crowe
reviewText        I would have given this a 5/5 but when I went ...
summary                                     Looks good, smells bad.
unixReviewTime                                           1418860800
vote                                                            NaN
style                         {'Size:': ' 32B', 'Color:': ' Black'}
image                                                           NaN
Name: 500000, dtype: object

In [30]:
df_product = df.loc[df['asin'] == 'B00IMABQ76']

In [31]:
df_product

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
173955,5.0,True,"03 28, 2014",A390IIKX15YQ0G,B00IMABQ76,Tabitha E Rodela,"Very inexpensive, yet well made bra. It is di...",Excellent,1395964800,5,"{'Size:': ' 32B', 'Color:': ' Dark Blue'}",NaN
499994,3.0,True,"02 6, 2017",AP7ZM3KQNSBAD,B00IMABQ76,Carrie,"Pretty, but definitely can't wear all day. Rea...",Scratchy but sexy,1486339200,NaN,"{'Size:': ' 32B', 'Color:': ' Red'}",NaN
499995,1.0,True,"02 28, 2015",A13T9PJLK08310,B00IMABQ76,Ahmed Al Farsi,Normal quality and i paid 2$ to view it in my ...,Normal quality and i paid 2$ to view it in ...,1425081600,NaN,"{'Size:': ' 34B', 'Color:': ' Red'}",NaN
499996,4.0,True,"01 21, 2015",A17IW3G335SEU9,B00IMABQ76,Brandy,It looks really sexy but I'm glad it came with...,It looks really sexy but I'm glad it came with...,1421798400,NaN,"{'Size:': ' 36C', 'Color:': ' Black'}",NaN
499997,4.0,True,"01 12, 2015",A34EYZMTCPC6Y2,B00IMABQ76,Viviana A,Its not as pretty as i thought but my bf likes...,Four Stars,1421020800,NaN,"{'Size:': ' 34B', 'Color:': ' Nude'}",NaN
499998,1.0,True,"12 21, 2014",ARJTN0299BFOQ,B00IMABQ76,Regina Anderson,"This was way too small, from the straps to ban...",Disappointed.,1419120000,2,"{'Size:': ' 32B', 'Color:': ' Dark Blue'}",NaN
499999,5.0,True,"12 20, 2014",ATBDPMXM9ZBOT,B00IMABQ76,JStreck,Beautiful,Five Stars,1419033600,NaN,"{'Size:': ' 34B', 'Color:': ' Black'}",NaN
500000,3.0,True,"12 18, 2014",A1LN4K6MFBNJ85,B00IMABQ76,Sara D. Crowe,I would have given this a 5/5 but when I went ...,"Looks good, smells bad.",1418860800,NaN,"{'Size:': ' 32B', 'Color:': ' Black'}",NaN
500001,4.0,True,"10 4, 2014",A2X6B76LE1AUV3,B00IMABQ76,BritChick95,I love this bra. To look at. So pretty. But my...,Cute. But small. But holy boobs!!!,1412380800,2,"{'Size:': ' 32B', 'Color:': ' Nude'}",NaN
500002,3.0,True,"08 17, 2014",A3ESZNGDIPO887,B00IMABQ76,Jenny,Looks good but way to tight,It's cute,1408233600,NaN,"{'Size:': ' 32A', 'Color:': ' Nude'}",NaN
500003,5.0,True,"06 3, 2014",A2O08DWM2CSB9F,B00IMABQ76,shecks74,"Fits great - it feels secure, no moving around...",Fits great,1401753600,3,"{'Size:': ' 32A', 'Color:': ' Nude'}",NaN

In [32]:
date = df['reviewTime'][0].strip().split(', ')
date

['10 20', '2014']

In [33]:
time, year, month, day = [], [], [], []

for idx in range(len(df)):
    time.append(df['unixReviewTime'][idx])

    date = df['reviewTime'][idx].strip().split(', ')
    year.append(date[1])
    
    date = date[0].split(' ')
    month.append(date[0])
    day.append(date[1])

In [34]:
print(time[0], year[0], month[0], day[0])

1413763200 2014 10 20

In [35]:
df['time'] = time
df['year'] = year
df['month'] = month
df['day'] = day

## Create DCWE Input Dataset

In [36]:
df.iloc[0]

overall                              5.0
verified                            True
reviewTime                   10 20, 2014
reviewerID                A1D4G1SNUZWQOT
asin                          7106116521
reviewerName                       Tracy
reviewText        Exactly what I needed.
summary           perfect replacements!!
unixReviewTime                1413763200
vote                                 NaN
style                                NaN
image                                NaN
time                          1413763200
year                                2014
month                                 10
day                                   20
Name: 0, dtype: object

In [37]:
print(sorted(year)[0])
print(sorted(year)[-1])

2002
2018

In [39]:
dataset_review = []

for idx in range(len(df)):
    dict = {}
    dict = {'product': str(df['asin'][idx]), 'time': str(df['unixReviewTime'][idx]), 'year': str(df['year'][idx]), 'month': str(df['month'][idx]), 'day': str(df['day'][idx]), 'text': df['reviewText'][idx], 'rating': str(df['overall'][idx])}
    dataset_review.append(dict)

In [40]:
print(dataset_review[0])

{'product': '7106116521', 'time': '1413763200', 'year': '2014', 'month': '10', 'day': '20', 'text': 'Exactly what I needed.', 'rating': '5.0'}

In [41]:
with open('amazon_fashion_dataset_review.json', 'w') as f:
    json.dump(dataset_review, f)

## Check Datasets

In [42]:
with open('amazon_fashion_dataset_review.json', 'r') as f:
    dataset_review = json.load(f)

In [43]:
dataset_review[0]

{'product': '7106116521',
 'time': '1413763200',
 'year': '2014',
 'month': '10',
 'day': '20',
 'text': 'Exactly what I needed.',
 'rating': '5.0'}

In [31]:
data = pd.DataFrame(data)

In [38]:
data['day']

0         20
1         28
2         25
3         24
4         27
          ..
883631    21
883632    25
883633    10
883634    10
883635    9,
Name: day, Length: 883636, dtype: object

In [36]:
data['product'] = data['product'].astype(str)

In [37]:
data['product']

0         7106116521
1         7106116521
2         7106116521
3         7106116521
4         7106116521
             ...
883631    B01HJHTH5U
883632    B01HJHTH5U
883633    B01HJHTH5U
883634    B01HJHF97K
883635    B01HJG5NMW
Name: product, Length: 883636, dtype: object

In [ ]:
for c in pd.read_json('amazon_fashion_dataset_review.json', chunksize=10000, lines=True):
    print(c['product'][0])