In [1]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [2]:
# !wget http://deepyeti.ucsd.edu/jianmo/amazon/sample/meta_Computers.json.gz

--2022-06-05 01:13:40--  http://deepyeti.ucsd.edu/jianmo/amazon/sample/meta_Computers.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7010521 (6.7M) [application/octet-stream]
Saving to: ‘meta_Computers.json.gz.1’

meta_Computers.json  12%[=>                  ] 865.14K   163KB/s    eta 37s    ^C

In [2]:
### load the meta data

data = []
with gzip.open('meta_AMAZON_FASHION.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

186637
{'title': 'Slime Time Fall Fest [With CDROM and Collector Cards and Neutron Balls, Incredi-Ball and Glow Stick Necklace, Paper Fram', 'brand': 'Group Publishing (CO)', 'feature': ['Product Dimensions:\n                    \n8.7 x 3.6 x 11.4 inches', 'Shipping Weight:\n                    \n2.4 pounds'], 'rank': '13,052,976inClothing,Shoesamp;Jewelry(', 'date': '8.70 inches', 'asin': '0764443682', 'imageURL': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL._US40_.jpg'], 'imageURLHighRes': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL.jpg']}

In [3]:
import json
with open('meta_AMAZON_FASHION.json', 'w') as f:
    json.dump(data, f)

In [4]:
with open('meta_AMAZON_FASHION.json', 'r') as f:
  data = json.load(f)

In [5]:
# convert list into pandas dataframe

df = pd.DataFrame.from_dict(data)

print(len(df))

186637

In [6]:
### remove rows with unformatted title (i.e. some 'title' may still contain html style content)

df3 = df.fillna('')
df4 = df3[df3.title.str.contains('getTime')] # unformatted rows
df5 = df3[~df3.title.str.contains('getTime')] # filter those unformatted rows
print(len(df4))
print(len(df5))

430
186207

In [10]:
# how those unformatted rows look like
df4.iloc[0]

title              var aPageStart = (new Date()).getTime();\nvar ...
brand
feature            [Package Dimensions:\n                    \n3....
rank                              24,954,464inClothing,ShoesJewelry(
date                                                          Fossil
asin                                                      B0013HNSPS
imageURL
imageURLHighRes
description
price
also_view
also_buy
fit
details
similar_item
tech1
Name: 4248, dtype: object

## Load AMAZON FASHION meta datasets

In [10]:
### load the fashion data

data = []
with gzip.open('meta_AMAZON_FASHION.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

186637
{'title': 'Slime Time Fall Fest [With CDROM and Collector Cards and Neutron Balls, Incredi-Ball and Glow Stick Necklace, Paper Fram', 'brand': 'Group Publishing (CO)', 'feature': ['Product Dimensions:\n                    \n8.7 x 3.6 x 11.4 inches', 'Shipping Weight:\n                    \n2.4 pounds'], 'rank': '13,052,976inClothing,Shoesamp;Jewelry(', 'date': '8.70 inches', 'asin': '0764443682', 'imageURL': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL._US40_.jpg'], 'imageURLHighRes': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL.jpg']}

In [11]:
import json
with open('meta_AMAZON_FASHION.json', 'w') as f:
    json.dump(data, f)

In [11]:
with open('meta_AMAZON_FASHION.json', 'r') as f:
  data = json.load(f)

In [12]:
# convert list into pandas dataframe
df = pd.DataFrame.from_dict(data)

print(len(df))

186637

In [14]:
### remove rows with unformatted title (i.e. some 'title' may still contain html style content)
df3 = df.fillna('')
df4 = df3[df3.title.str.contains('getTime')] # unformatted rows
df5 = df3[~df3.title.str.contains('getTime')] # filter those unformatted rows
print(len(df4))
print(len(df5))

430
186207

In [15]:
# how those unformatted rows look like
df4.iloc[0]

title              var aPageStart = (new Date()).getTime();\nvar ...
brand
feature            [Package Dimensions:\n                    \n3....
rank                              24,954,464inClothing,ShoesJewelry(
date                                                          Fossil
asin                                                      B0013HNSPS
imageURL
imageURLHighRes
description
price
also_view
also_buy
fit
details
similar_item
tech1
Name: 4248, dtype: object

In [18]:
# formatted rows
df5.iloc[1]

title              XCC Qi promise new spider snake preparing men'...
brand
feature
rank                          11,654,581inClothing,Shoesamp;Jewelry(
date                                                          5 star
asin                                                      1291691480
imageURL           [https://images-na.ssl-images-amazon.com/image...
imageURLHighRes    [https://images-na.ssl-images-amazon.com/image...
description
price
also_view
also_buy
fit
details
similar_item
tech1
Name: 1, dtype: object

## Load AMAZON FASHION datasets

In [19]:
### load the fashion data
data = []
with gzip.open('AMAZON_FASHION.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

883636
{'overall': 5.0, 'verified': True, 'reviewTime': '10 20, 2014', 'reviewerID': 'A1D4G1SNUZWQOT', 'asin': '7106116521', 'reviewerName': 'Tracy', 'reviewText': 'Exactly what I needed.', 'summary': 'perfect replacements!!', 'unixReviewTime': 1413763200}

In [20]:
import json
with open('AMAZON_FASHION.json', 'w') as f:
    json.dump(data, f)

In [21]:
with open('AMAZON_FASHION.json', 'r') as f:
  data = json.load(f)

In [22]:
# convert list into pandas dataframe
df = pd.DataFrame.from_dict(data)

print(len(df))

883636

In [26]:
df.iloc[0]

overall                              5.0
verified                            True
reviewTime                   10 20, 2014
reviewerID                A1D4G1SNUZWQOT
asin                          7106116521
reviewerName                       Tracy
reviewText        Exactly what I needed.
summary           perfect replacements!!
unixReviewTime                1413763200
vote                                 NaN
style                                NaN
image                                NaN
Name: 0, dtype: object

In [38]:
df_reviewer = df.loc[df['reviewerID'] == 'A2SORD63QMZBZL']

In [39]:
df_reviewer

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
2709,5.0,True,"10 20, 2014",A2SORD63QMZBZL,B000AO7PY0,LMcLean,These tights are good quality. My daughter ha...,These tights are good quality. My daughter has...,1413763200,NaN,"{'Size:': ' One Size', 'Color:': ' White/Red'}",NaN
74613,5.0,True,"10 20, 2014",A2SORD63QMZBZL,B005MF5NE6,LMcLean,These tights are good quality. My daughter ha...,These tights are good quality. My daughter has...,1413763200,NaN,"{'Size:': ' One Size', 'Color:': ' White/Red'}",NaN

In [50]:
years = []

for idx in range(len(df)):
    years.append(df['reviewTime'][idx][-4:])

In [51]:
print(years[0])

2014

In [52]:
df['Years'] = years

In [55]:
df_years = df.loc[df['Years'] == '2014']
len(df_years)

90303

## Create DCWE Input Dataset